{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "max-len": [1, 70, 2, { "ignoreComments": true }],
    "linebreak-style": 0,
    "no-console": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "prefer-destructuring": "off",
    "func-names": "off",
    "no-undef": "off",
    "no-restricted-syntax": "off",
    "prefer-arrow-callback": "off",
    "no-alert": "off",
    "prefer-template": "off",
    "func-names": "off",
    "guard-for-in": "off"
  }
}