extends layout

block layout-content
    div.View.UserView
        h1.Banner Howdy, #{userProfile.nickname}!
        div.Message
            div.Title
                h3 DISPLAYING DATABASE:
                h1 CITIES DATA
        table
            script
                include ../docs/js/bundle.js
        div.NavButtons
            a(href="/logout")
                div.NavButton Log out